.card-image img {
    width: 100%;
}

.card {
    background-color: rgba(245,245,245,0.6);
    box-shadow: -2px 2px 15px rgba(245,245,245,0.5);
}

.m-top {
    margin-top: 20px;
    color: black;
}

.social-svg:hover {
    background-color: white;
}

.padding {
    padding: 0px 5px;
}