.logo_image {
    white-space: nowrap;
    
    text-align: center; 
    margin: 1em 0;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo_image img {
    vertical-align: middle;
}

.columns {
    margin-top: 30px;
}

.experience {
    transition: margin 0.5s;
}

.experience:hover {
    margin-left: -5px;
    box-shadow: -2px 2px 15px rgba(10,10,10,0.6);
}